# Project exclude paths
/common-libs/common/target/
/common-libs/log-injection/target/
/simple-ear-assembly-wildfly/target/
/simple-ear-ear/target/
/simple-ear-ejb/target/
/simple-ear-web/target/
/target/